<h1>Doses#new</h1>
  <%= simple_form_for [@cocktail, @dose] do |f| %>
    <%= f.label :description %>
    <%= f.text_field :description %>
    <%= f.input :ingredient, collection: @ingredients %>

    <%= f.submit "Add Dose", class: "btn btn-primary" %>
  <% end %>
